
<%= form_for ([@recipe, @comment]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rating %>
    <%= f.number_field :rating %>
  </div>

  <div class="field">
    <%= f.label :comments %>
    <%= f.text_field :comments %>
  </div>

  <div id="field_test">
    <%= f.hidden_field :recipe_id %>
  </div>

  <div id="hidden_recipe_id" style="display: none;"><%= @recipe.id %></div>

  <div class="submit_comment_button">
    <%= f.submit "Create Comment" , data: {disable_with: false} %>
  </div>
<% end %>