<h1>Ratings</h1>
<br></br>
1:<%= ratings_search(1) %>
<br></br>
2:<%= ratings_search(2) %>
<br></br>
3:<%= ratings_search(3) %>
<br></br>
4:<%= ratings_search(4) %>
<br></br>
5:<%= ratings_search(5) %>
<br></br>
6:<%= ratings_search(6) %>
<br></br>
7:<%= ratings_search(7) %>
<br></br>
8:<%= ratings_search(8) %>
<br></br>
9:<%= ratings_search(9) %>
<br></br>
10:<%= ratings_search(10) %>
<br></br>