<p id="notice"><%= notice %></p>

 <h1>Recipes</h1>
  
  <%= javascript_tag do %>
  window.user_id = "<%=current_user.id.to_i%>";
  <% end %>

<table>
  <thead>
    <tr>
    <%= link_to "Show Recipes", recipes_path,  :remote => true %>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
  <td id="recipename"></td>    
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path, :remote => true %>
<div id="newrecipeform">
  
</div>

<%= render partial: 'ratings' %>


