  <div id="hidden_recipe_id" style="display: none;"><%= @recipe.id %></div>

  <div>
    <strong>Name:</strong>
    <%= @recipe.name %>
  </div>

<br>

  <%= render 'recipes/categories', recipe: @recipe %>

<br>

  <%= render 'recipes/ingredients', recipe: @recipe %>

<br>

  <%= render  'recipes/instructions', recipe: @recipe %>

<br>

  <div>
    <% if @recipe.status != true %>
      <strong>Cooked this recipe?: You have not cooked this recipe yet! Give it a shot!</strong>
      <div id="cooked_html_location"></div><div id="cooked_location_2"></div>
      <div id="cookedrecipe"><%= link_to "Cooked This Recipe? Click Here To Add Comments"%></div>
    <% else %>
      <h5>You have cooked this recipe! Add some comments for next time!</h5>
      <%= render '/comments/form', recipe: @recipe %> 
    <% end %>

    <div id="new_comment_form">
    
    </div>
  </div>
<br>
  
  <%= render 'recipes/comments', recipe: @recipe %>
<br>  

  <%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %> | <%= link_to "Delete Recipe", recipe_path(@recipe), :method => "DELETE" %>

