<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
 <%= render 'recipes/cooked' %>
</p>

<p>
  <%= render 'recipes/ingredients', recipe: @recipe %>
</p>

<p>
  <%= render 'recipes/comments', recipe: @recipe %>
</p>

<p>
  <%= render  'recipes/instructions', recipe: @recipe %>
</p>
  

<%= link_to 'Edit', edit_recipe_path(@recipe) %> 
