<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <% if @recipe.status != true %>
    <strong>Cooked this recipe?:</strong>
    <%= @recipe.cooked_or_not %> | <%= button_to "Cooked This Recipe?", :method => :post, :controller => 'recipes', :action => 'update_status', id: @recipe.id %>
  <% else %>
    <strong>Cooked this recipe?:</strong> <%= @recipe.cooked_or_not %> | <%= button_to "Add Comment", new_recipe_comment_path(@recipe) %>
  <% end %>
</p>
  

<p>
  <strong>User:</strong>
  <%= @recipe.user_id %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
