<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
 <%= render partial: 'recipes/cooked' %>
</p>

<p>
  <%= render partial: 'recipes/ingredients', locals: {recipe: @recipe} %>
</p>

<p>
  <%= render partial: 'recipes/comments', locals: {recipe: @recipe} %>
</p>
  

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
