<!DOCTYPE html>
<html>
  <head>
    <title>RecipesManagerRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= render partial: 'layouts/header' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
    <%= yield %>
  </body>
</html>
